/*---------------------------- Aspectos Generales ----------------------------*/

/* CalSans Regular */
@font-face {
  font-family: "CalSans";
  src: url("../fonts/calsans/CalSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Figtree Regular */
@font-face {
  font-family: "Figtree";
  src: url("../fonts/figtree/static/Figtree-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --blueDegrade: #3498db;
  --whiteDegrade: #faf2ce;
  --blueDark-1: #17385d;
  --blueDark-2: #071328;

  --blueLight: #d0e3ea;
  --blueAsh-1: #95b1c9;
  --blueAsh-2: #80a2b7;
  --orangeLight: #e88370;
  --orangeDark: #db6758;
  --font: #fafafa;
}
body {
  font-family: "Figtree", sans-serif;

  max-width: 100% !important;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  
  /* height:100vh; */
  /* Fondo gradient 
  background: hsla(212, 60%, 23%, 1);

  background: linear-gradient(
    45deg,
    hsla(212, 60%, 23%, 1) 0%,
    hsla(204, 70%, 53%, 1) 40%,
    hsla(186, 85%, 75%, 1) 76%
  );

  background: -moz-linear-gradient(
    45deg,
    hsla(212, 60%, 23%, 1) 0%,
    hsla(204, 70%, 53%, 1) 40%,
    hsla(186, 85%, 75%, 1) 76%
  );

  background: -webkit-linear-gradient(
    45deg,
    hsla(212, 60%, 23%, 1) 0%,
    hsla(204, 70%, 53%, 1) 40%,
    hsla(186, 85%, 75%, 1) 76%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#17385D", endColorstr="#3498DB", GradientType=1 );*/

}
.cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2 {
  font-family: "CalSans", sans-serif;
}

p {
  font-family: "Figtree", sans-serif;
}
section {
  padding: 50px 0;
}
article{
  padding:50px 0;
}
.container-flex {
  display: flex;
  flex-wrap: wrap;
}

.title,
.subtitle {
  color: var(--font);
  text-align: center;
}
.title {
  letter-spacing: 0.1em;
}
.subtitle {
  font-weight: lighter !important;
  letter-spacing: 0.4em;
}
/*---------------------------- Construction Page ----------------------------*/

.construction-page {
  height: 100vh;
  /* background: #faf2ce; */
  /* background: linear-gradient(180deg, rgba(250, 242, 206, 1) 5%, #608191 87%); */
  display: none;
}

.construction-page .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.img-logo {
  display: flex;
  justify-content: center;
}
.img-logo img {
  width: 50px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.title-page {
  text-align: center;
  color: var(--whiteDegrade);
  font-size: 2.3rem;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.title-page.n_contacto {
  opacity: 1;
  font-size: 2rem;
}
.n_contacto_div {
  display: flex;
  justify-content: center;
}
.n_contacto_div .btn-main {
  background: var(--whiteDegrade);
  color: var(--blueAsh-2);
  border: none;
  opacity: 0;
  transition: all 0.35s ease-in-out;
}
.container-img-pet {
  display: flex;
  justify-content: center;
}
.img-pet {
  width: 300px;
}
.img-pet img {
  width: 100%;
  /* animation: float 6s ease-in-out infinite; */
  position: relative;
  animation: dropDown 4s forwards;
}

/* Animación de caída inicial */
@keyframes dropDown {
  0% {
    top: -500px;
  }
  100% {
    top: 0;
  }
}

/* Animación de flotación */
@keyframes float {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-20px) rotate(1deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}
/* ------------------------- Footer ------------------ */

.text-footer {
  text-align: center;
  color: var(--whiteDegrade);
  font-size: 1.3rem;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

/* ---------------------- Navbar ------------------------ */

.navbar-brand {
  width: 40px;
}

.navbar-brand img {
  width: 100%;
}
.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 30px;
}

.nav-link {
  color: var(--blueDark-1);
  font-size: 1.2rem;
}
.nav-link.active {
  text-decoration: underline;
  color: var(--blueDark-1) !important;
}
.nav-link.btn-nav {
  background-color: var(--blueDark-1) !important;
  color: #fafafa;
  border-radius: 7px;
}

/*-------------- Navbar fixed ---------------- */

.navbar.fixed{
  background: var(--blueDark-2);
  color:var(--font);
  position: fixed;
  width: 100%;
  z-index:3;
  /* transform: translateY(20px); */
  animation: fadeDown .4s ease-out forwards;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.navbar.fixed .nav-link, .navbar.fixed .nav-link.active{
  color:var(--whiteDegrade) !important;
}

/* Nav en construcion page */
/* nav.navbar{
  display: none;
} */

/* Nav en construcion page */
/* ---------------------- Inicio ------------------------ */
#inicio{
  /* display: none; */
  background-image: url("../img/background/Seccion_1.webp");
  background-position: center;
  /* background-size: cover; */
  padding-top:0;
}

.container-wrap-inicio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* padding:50px 0; */
}
.left-div {
  width: 45%;
}

.right-div {
  width: 55%;
}

.btn-main {
  background: var(--whiteDegrade);
  color: var(--blueDark-1);
  font-size: 1.25rem;
  padding: 0 15px;
}
.presentacion {
  padding: 0 20px;
  color: #fafafa;
}
.presentacion h2 {
  font-size: 6rem;
  text-align: center;
}

.presentacion p {
  font-size: 1.2rem;
}
.presentacion .presupuesto-text {
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 0.14em;
}

.presentacion-img {
  display: flex;
  justify-content: center;
  padding: 0 60px;
}
.container-img-inicio {
  width: 350px;
  position: relative;
  animation: dropDownMain 1.5s ease-in-out;
  animation-delay: 0s;
}
.container-img-inicio img {
  width: 100%;
  filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.15));
}

.phone-inicio {
  /* width:350px; */
  position: absolute;
  animation: floatUpDown 3s linear infinite;
}
.phone-box {
  position: absolute;
  top: 0;
  /* left:0; */
  width: 200px !important;
  /* Para rotar 3d */
  perspective: 2000px;
}
.phone-box img {
  border-radius: 11px;
  /* transform: rotate3d(1, -2, 0.4, 0deg); */
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}
.phone-box.box-1 {
  left: -100px;
  top: 60px;
  z-index: 1;
  animation: floatOrbit1 5s linear infinite;
  transition: all 0.4s ease-in-out;
}
.phone-box.box-2 {
  left: 30px;
  top: 100px;
  z-index: 2;
  /* animacion */
  /* animation: floatDiagonal 3s linear infinite; */
  animation: floatOrbit3 3s linear infinite;
  transition: all 0.4s ease-in-out;
}
.phone-box.box-3 {
  z-index: 1;
  top: 180px;
  left: 58%;
  animation: floatOrbit3 4s linear infinite;
  transition: all 0.4s ease-in-out;
}
.phone-box.box-1 img {
  transform: rotate3d(1, -2, -0.8, 20deg);
  /* transform: rotate3d(1, -1.3, 0.4, 30deg); */

  box-shadow: 11px 12px 20px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 11px 12px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 11px 12px 20px 0px rgba(0, 0, 0, 0.15);
}

.phone-box.box-2 img {
  transform: rotate3d(1, -1.3, 0.4, 30deg);
  box-shadow: 8px 12px 9px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 8px 12px 9px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 8px 12px 10px 9px rgba(0, 0, 0, 0.15);
}
.phone-box.box-3 img {
  transform: rotate3d(1, -2, 2.5, 25deg);
  /* transform: rotate3d(1, -1.3, 0.4, 30deg); */

  box-shadow: -6px 9px 8px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: -6px 9px 8px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -6px 9px 8px 0px rgba(0, 0, 0, 0.15);
}

/* Para el principio de la animacion */

.phone-box.box-1.in-place,
.phone-box.box-2.in-place,
.phone-box.box-3.in-place {
  top: 150px;
  left: 60px;
  transition: all 0.4s ease-in-out;
  animation: none;
  box-shadow: none;
  animation: floatUpDown 3s linear infinite;
}
.phone-box.box-1:hover,
.phone-box.box-2:hover,
.phone-box.box-3:hover {
  transform: scale(2);
}

.container-img-inicio .in-place img {
  filter: none;
}
.phone-box.box-1.in-place img,
.phone-box.box-2.in-place img,
.phone-box.box-3.in-place img {
  transform: rotate3d(1, -1.3, 0.5, 40deg);
  box-shadow: none;
  transition: all 0.4s ease-in-out;
}

/* Animaciones */

/* Animación de caída inicial */
@keyframes dropDownMain {
  0% {
    top: -300px;
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes floatOrbit1 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(8px, -6px) scale(0.995);
  }
  50% {
    transform: translate(-6px, 10px) scale(1);
  }
  75% {
    transform: translate(4px, 4px) scale(0.997);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
@keyframes floatOrbit2 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  20% {
    transform: translate(-5px, -8px) scale(1.02);
  }
  40% {
    transform: translate(6px, 4px) scale(1);
  }
  60% {
    transform: translate(-7px, 6px) scale(1.02);
  }
  80% {
    transform: translate(4px, -6px) scale(1);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
@keyframes floatOrbit3 {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  25% {
    transform: translate(5px, 5px) scale(0.998);
  }
  50% {
    transform: translate(0px, 10px) scale(0.996);
  }
  75% {
    transform: translate(-5px, 5px) scale(1);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

@keyframes floatUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

@keyframes floatDiagonal {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, 10px);
  }
}

/* ---------------------- Servicios ------------------------ */

.contenedor-blur-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px 0;
}
.blur-card {
  width: 550px;
  border: 1px solid #fafafa;
  color: var(--font);
  padding: 30px 40px;

  /* Efecto blur */
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  /* border: none; */
}
.blur-card .subtitle {
  letter-spacing: 0.1em;
  font-size: 1.3rem;
}
.blur-card .title {
  font-size: 2.1rem;
}
.b-card-body {
  text-align: justify;
  font-size: 1rem;
}
.b-card-img {
  overflow: hidden;
  height: 300px;
  border-radius: 20px;
  /* border:1px solid #fafafa; */
}
.b-card-img img {
  width: 100%;
}

.b-card-btns {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

/* ----------------------------------------- Especialidades ----------------------------------------- */
#especialidades{
  min-height: 800px;
  /* background-image: url("../img/background/astronaunt-min.webp"); */
  background-image:
  linear-gradient(rgba(151, 198, 230, 0.7), rgba(112, 154, 182, 0.5)),
  url("../img/background/astronaunt-min.webp");

  background-size: cover;
  background-attachment: fixed;

}

#especialidades .title{
  color:var(--blueDark-2);
  /* font-size:2.4rem; */
  font-weight: 600;
  text-transform: uppercase;

}
.timeline-container{
  display: flex;
  flex-direction: column;
  gap:15px;
  padding: 25px 0;
}
.timeline-container .row{
  justify-content: space-around;
}
.timeline-bar {
  width: 100%;
  height: 5px;
  /* background-color: transparent; */
  position: relative;
  /* overflow: hidden; */
  display:flex;
  align-items: center;

}

.timeline-fill {
  height: 100%;
  width: 0%;
  background-color: var(--blueDark-1);
  /* animation: expandLine 7s ease forwards; */
}
/* Navecita */
.fa-shuttle-space{
  font-size:1.9rem;
  color:var(--blueDark-1);
}

@keyframes expandLine {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}


.box-tl{
  width:350px;
  color:var(--blueDark-2);
  padding:15px;
  display: flex;
  flex-direction: column;
  gap:10px;
  /* border:1px solid var(--blueDark-1); */
  border-radius: 7px;
  filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.2));
  /* opacity: 0; */
}
.box-tl .subtitle{
  font-size:1.4rem;
  font-weight: bold !important;
  color:var(--blueDark-2);
  letter-spacing: normal !important;
  
}

.box-tl .box-tl-body{
  text-align: center;
  font-weight: bold;
}

.box-tl-btns{
  display:flex;
  justify-content: center;
}

.box-tl .btn-main{
  background-color: var(--blueDark-1);
  color:var(--blueLight);
  font-size:1rem;
}



.fadeup {
  opacity: 0;
  transform: translateY(20px);
  /* animation: fadeUp 1s ease-out forwards; */
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeDown {
  0%{
    transform: translateY(-50px);
  }   
  100%{
    /* opacity: 1; */
    transform: translateY(0);
  }
}

/* ----------------------------------------- Trabajos ----------------------------------------- */

#trabajos{
  /* min-height:800px; */
  background-image: url("../img/background/Seccion_2Large.webp");
  background-position: center;
}
#trabajos .title{
  color:var(--blueDark-2);
}
.contenedor-proyectos{
  padding:20px;
  /* border:1px solid #ccc; */
}

.col-left{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.col-left .large-block{
  width: 100%;
  overflow: hidden;
  height:350px;
  border-radius: 10px;
}
.col-left .container-block{
  display: flex;
  /* border: 1px solid #fff; */
  width:100%;
  gap:15px;
}
.col-left .small-block{
  width: 50%;
  border-radius: 10px;
  overflow: hidden;
}
.bigest-block{
  overflow: hidden;
  height: 600px;
  border-radius: 10px;
}
.box-block{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.large-block img, .small-block img, .bigest-block img{
  width: 100%;
}

.contenedor-flechas{
  display: flex;
  justify-content: end;
  color: var(--font);
  gap:10px;
  padding:10px 0;
}
.contenedor-flechas .arrow-block{
  background: var(--font);
  /* padding:1px 8px; */
  width:25px;
  border:none;
  border-radius: 2px;
  color:var(--blueDegrade);
  font-weight: bold;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: all .3s ease-in-out;

}
.contenedor-flechas .arrow-block.active{
  background:var(--blueDegrade);
  color:var(--font);
  transition: all .3s ease-in-out;
}
.contenedor-flechas .arrow-block-text{
  background-color: transparent;
  color: var(--font);
  border: none;
}


/* ----------------------------------------- Responsive ----------------------------------------- */

/* Tablets (pantallas con un ancho máximo de 1024px) */
@media screen and (max-width: 1024px) {
  /* Estilos específicos para tablets */

  /* .construction-page{
        height:auto;
    } */
  .img-pet {
    width: 250px;
  }
}
/* Celulares (pantallas con un ancho máximo de 767px) */
@media screen and (max-width: 767px) {
  /* Estilos específicos para celulares */
  .construction-page {
    /* height:auto; */
    min-height: 100vh;
  }

  .title-page {
    font-size: 2rem;
  }

  /* ============== Inicio ============== */
  .left-div,
  .right-div {
    width: 100%;
  }
}

/* Celulares (pantallas con un ancho máximo de 767px) */
@media screen and (max-width: 520px) {
  /* Estilos específicos para celulares */
  .title-page {
    font-size: 1.5rem;
  }

  .img-pet {
    width: 200px;
  }

  .text-footer {
    font-size: 1rem;
  }
}
